.zhistory
.zcompdump
.zsh_sessions
**/*.swp
zsh/private.zsh
vendor/
composer/auth.json
composer/*.phar
composer/*.pub
composer/cache
composer/**/.htaccess
.zcomp*
vendor/prezto/modules/prompt/functions/prompt_powerlevel9k_setup
**/cache
conf/vscode/extensions
.zsh_history
conf/vscode/argv.json
